/*------------FÆLLES------------*/
body {
    margin: 0;
    padding: 0;
}

#logo {
    float: left;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #251D2D;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;

}

span {
    color: #251D2D;
    float: right;
}

.sidenav a:hover {
    text-decoration: underline;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}

.logomobile {
    width: 100px;
    height: auto;
}

.logoweb {
    display: none;
}

.navbar {
    overflow: hidden;
    padding: 15px;
    background-color: #251D2D;
    display: none;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 20px;
    font-family: 'Montserrat';
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    text-decoration: underline;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #251D2D;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: white;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

/*------------FORSIDE------------*/

#community {
    background-color: #EB1D25;
    float: left;
    margin-top: 60px;
    margin-left: 20px;
    color: white;
    padding: 5px;
    animation: mymove 5s infinite;
}



#find {
    background-color: #251D2D;
    float: right;
    margin-top: 60px;
    margin-right: 30px;
    color: white;
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
    animation: mymove 5s infinite;
    padding-bottom: 5px;
    text-align: center;

}

#adresse {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


@keyframes mymove {
    50% {
        box-shadow: 10px 20px 30px black;
    }
}

#kvindehold {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

#coach {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

#socialemedierh1 {
    margin-left: 15px;
}

#socialemedier {
    flex-direction: row;
    float: left;
    margin-top: 60px;
    margin-left: 350px;
    margin-bottom: 100px;
}

#kampe {
    flex-direction: row;
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}

footer {
    clear: both;
    position: relative;
    height: 40px;
    margin: 0 auto;
    background-color: #251D2D;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: white;
    padding: 5px;
}

/*------------KORT------------*/

#map h3 {
    color: black;
    font-size: 1.5em;
    font-family: 'Montserrat';
    text-align: center;
}

#map {
    background-color: white;
    width: 100%;
}

#tilbageheader2 {
    text-align: center;
}



#movemap {
    margin-top: 120px
}

.rotate-center {
    animation: rotate-center 2s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 11:2:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */



#map #pins img {
    margin-top: 15px;
    margin-left: 430px;
    width: 550px;
}

.kenburns-top {
    animation: kenburns-top 1s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 11:8:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {

        transform: scale(1.25) translateY(-15px);

        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {

        transform: scale(1) translateY(0);

        transform-origin: 50% 16%;
    }

    100% {

        transform: scale(1.25) translateY(-15px);

        transform-origin: top;
    }
}


/*------------KORT------------*/
#map #pin1 {
    position: absolute;
    top: 450px;
    left: 935px;
    background-color: #009c00;
    color: black;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
}

#map #pin1:hover {
    background-color: darkgreen;
    transform: scale(1.4);
    transition: transform .4s;
}

/*KORT POP UP*/
#map #pin1 #pin1tekst {
    visibility: hidden;
    width: 150px;
    background-color: #a4a6ab;
    color: white;
    text-align: left;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: 0px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #282828;
}

#map #pin1:hover #pin1tekst {
    visibility: visible;
}


/*------------KVINDEHOLDET------------*/

#kvindeholdet {
    text-align: center;
    margin-top: 30px;
}

#kvindeholdetinfo {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 14px;
}

#kvinderndeskampdag {
    text-align: center;
}

hr {
    width: 80%;
    border-color: black;
}

.flex-container {
    display: flex;
    margin-left: 145px
}

.flex-child {
    flex: 1;
}

.flex-childgreen {
    margin-right: 130px;
    text-align: center
}

.flex-child:first-child {
    margin-left: 144px;
}

.button {
    background-color: #EB1D25;
    border: none;
    color: white;
    padding: 15px 32px;
    padding-left: 650px;
    padding-right: 650px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button2 {
    background-color: #EB1D25;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 50px;
}


/*------------TILBAGESIDE------------*/

#tilbageheader {
    text-align: center;
    margin-top: 100px;
}

#tilbagetekst {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

/*------------BETALINGSSIDE------------*/

#kontingenth1 {
    text-align: center;
}

#kontingenttekst {
    text-align: center;
}

#kontingenth2 {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

label {
    display: inline-block;
}

#mulighed1 {

    text-align: center;
}

#mulighed2 {
    text-align: center;
}

#mulighed3 {
    text-align: center;
}

#mulighed4 {
    text-align: center;
}

h3#payment {
    margin-bottom: 10px;

}

#headerbetaling {}

#betaling h3 {
    color: black;
    font-size: 1.5em;
    font-family: 'Montserrat';
    text-align: center;

}

#betaling {
    background-color: white;
    background-size: cover;
    width: 100%;
}

* {
    box-sizing: border-box;
}


* {
    box-sizing: border-box;
}

.row2 {
    /* IE10 */
    display: flex;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    /* IE10 */
    flex: 25%;
}

.col-50 {
    /* IE10 */
    flex: 50%;
}

.col-75 {
    /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container1 {
    margin-bottom: 25px;
    padding: 7px 0;
    font-size: 24px;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #EB1D25;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: darkred;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}


/* break point */

@media screen and (max-width: 600px) {
    #socialemedier {
        margin: 0;
        text-align: center;
        margin-left: 120px
    }

    #community {
        margin: 0;
    }

    .flex-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .row2 {
        flex-direction: column-reverse;
    }

    #find {
        margin: 0;
        width: 300px;
        float: left;
        margin-left: 40px
    }

    #brabrandkort {
        margin: 0;
        width: 100px;
    }

    #kampe {
        margin: 0;
        width: 200px;
        float: left;
    }

    footer {
        width: 600px;
    }

    #map #pins img {
        margin: 0;
        width: 350px;
        text-align: center;
    }

    #map #pin1 {
        position: absolute;
        top: 340px;
        left: 312px;
        background-color: #009c00;
        color: black;
        padding: 12px 12px;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        display: inline-block;
    }


    .button,
    #kontingenttekst,
    #kontingenth2,
    #klik,
    #tilbagetekst,
    #kvinderndeskampdag,
    #kvindeholdetinfo,
    #kvindeholdet {
        margin: 0;
        padding: 0px;
    }

    #flex-container {
        display: none;
    }



    #pigeholdetjpg {
        margin: 0;
        width: 300px;
    }

}

@media screen and (min-width: 400px) {

    /* desktop search result */
    hr.new4 {
        border: 1px solid #ebebeb;
        width: 80%;
    }



    @media screen and (min-width: 500px) {

        /* desktop search result */
        hr.new4 {
            border: 1px solid #ebebeb;
            width: 65%;
        }

    }

    @media screen and (min-width: 800px) {

        .logomobile {
            display: none;
        }

        .menu {
            display: none;
        }


        .logoweb {
            display: block;
            margin: 0 auto;
            width: 100px;
            height: auto;
        }


        .navbar {
            display: block;
            overflow: hidden;
            padding: 2%;

        }

        .navbar a {
            float: left;
            text-align: center;
            text-decoration: none;
            font-size: 17px;
        }


        .navbar a:hover {
            text-decoration: underline;
        }
    }
